@import url(sanitize.css);
:root {
  color: rgba(255, 255, 255, 0.87);
  font-family: NotoSans ,Inter, Avenir, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
body{
  font-size:24px;
  margin:0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}
html{
  background: radial-gradient(ellipse at top, #242424, transparent 50%), radial-gradient(ellipse at center, #242424 10%, transparent 50%),radial-gradient(ellipse at bottom, #242424 10%, #343434);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}