nav{
    width: 500px;
    margin:0 auto;
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-nav{
    position: fixed;
    width: 100%;
    top: 0;
    padding-bottom:15px;
    transition:background-color 0.4s ease-in-out;
    z-index: 5;
}
.div-nav:hover{
    background-color: #373636;
}
.nav{
    font-size:34px;
    font-weight: 300;
    display:inline-block;
    position:relative;
    line-height: 2rem;
    cursor:pointer;
    transition:all 1s ease;
}
.nav::before{
    content:'';
    position: absolute;
    bottom: -30%;
    width: 100%;
    opacity: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.87);
    transition: opacity 0.4s ease-in-out;
}
.nav.active::before{
    content:'';
    position: absolute;
    bottom: -30%;
    width: 100%;
    opacity: 1;
    border-bottom: solid 2px rgba(255, 255, 255, 0.87);
    transition: opacity 0.4s ease-in-out;
}
.nav:hover::before{
    content:'';
    position: absolute;
    left: 50%;
    bottom: -30%;
    width: 0;
    opacity: 1;
    border-bottom: solid 2px rgba(255, 255, 255, 0.87);
    transform: translateX(-50%);
    animation: border_anim 0.3s linear forwards;
}
@keyframes border_anim {
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }
@media screen and (max-width:500px){
    nav{
        width:350;
        white-space: none;
        display: flex;
        flex-direction: column;
        gap: 10px 20px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
}
@media screen and (min-width:1024px){

}