.profile_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.img {
  width: fit-content;
  margin: 0 auto;
  margin-top: 250px;
}
.info {
  width: fit-content;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}
.forprofileref{
  position:relative;
}
.profile {
  height: 1000px;
  width: 1400px;
  margin: 0 auto;
  position:absolute;
  top:150px;
  font-weight: 200;
  position: relative;
  background-color: rgb(56, 56, 56);
  border-radius: 20px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.771);
  z-index:10;
}
p {
  font-size: 1.7rem;
}
li {
  font-size: 1.3rem;
  line-height: 1.4;
}
.button {
  font-size: 3rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.771);
  border: 0;
  background-color: transparent;
}
.input {
  height: 100%;
  margin: 0;
}
.next-button {
  position: absolute;
  right: 3%;
  bottom: 40px;
  cursor: pointer;
}
.previous-button {
  position: absolute;
  left: 3%;
  bottom: 40px;
  cursor: pointer;
}
.arrow {
  height: 40px;
  filter: invert(80%);
  opacity: 0.1;
  transition: all 0.5s ease-in-out;
}
button:hover .arrow {
  opacity: 1;
}
@media screen and (min-width:0px) and (max-width:768px){
  .profile{
    width:460px;
  }
}
@media screen and (min-width:768px) and (max-width:1024px){
  .profile{
    width:700px;
  }
}
@media screen and (min-width:1024px) and (max-width:1280px){
  .profile{
    width:980px;
  }
}