.skills {
  padding-top: 130px;
  margin-top: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
.skills-head {
  font-size: 34px;
  margin-bottom: 50px;
}
.skills-body {
  position: relative;
  width: 1400px;
  height: max-content;
  min-height: 1000px;
  background-color: rgb(56, 56, 56);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 10;
}
.gridd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  row-gap: 100px;
}
.btn {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.btn p {
  background-color: rgba(125, 125, 125, 0.771);
  border-radius: 10px;
  height: fit-content;
  padding: 15px;
  margin: 0;
}
.grid div {
  border-radius: 10px;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.grid {
  border-radius: 10px;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  width: 100%;
  margin: 0 auto;
}
.grid div:hover {
  scale: 1.2;
  transition: all 0.2s ease-in-out;
}
.gridd .text{
    font-size: 40px;
    position: absolute;
    top:9%;
    left:20%;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .skills-body {
    width: 460px;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .skills-body {
    width: 700px;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .go {
    background-image: url("../img/go.png");
    background-size: 50px 100px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .skills-body {
    width: 980px;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.go {
  background-image: url("../img/go.png");
  background-size: 133px 118px;
}
.java {
  background-image: url("../img/java.png");
  background-size: 100px 100px;
}
.python {
  background-image: url("../img/python.png");
  background-size: 100px 100px;
}
.rust {
  background-image: url("../img/rust.png");
  background-size: 100px 100px;
}
.js {
  background-image: url("../img/js.png");
  background-size: 100px 100px;
}
.ts {
  background-image: url("../img/typescript.png");
  background-size: 100px 100px;
}
.html {
  background-image: url("../img/html.png");
  background-size: 100px 100px;
}
.php {
  background-image: url("../img/php.png");
  background-size: 100px 100px;
}
.react {
  background-image: url("../img/react.png");
  background-size: 100px 100px;
}
.svelte {
  background-image: url("../img/svelte.png");
  background-size: 100px 100px;
}
.django {
  background-image: url("../img/django.png");
  background-size: 130px 130px;
  filter: invert(25%);
}
.jquery {
  background-image: url("../img/jquery.png");
  background-size: 100px 100px;
}
.grid div:hover::before {
  position: absolute;
  font-size: 20px;
  transform: translate(0, -50%);
}

.go:hover::before {
  content: "Golang";
  bottom: -20px;
}
.rust:hover::before {
  content: "Rust";
  bottom: -30px;
}
.js:hover::before {
  content: "Javascript";
  bottom: -30px;
}
.ts:hover::before {
  content: "Typescript";
  bottom: -30px;
}
.java:hover::before {
  content: "Java";
  bottom: -35px;
}
.html:hover::before {
  content: "HTML";
  bottom: -30px;
}
.php:hover::before {
  content: "PHP";
  bottom: -15px;
}
.python:hover::before {
  content: "Python";
  bottom: -30px;
}
.react:hover::before {
  content: "React";
  bottom: -30px;
}
.svelte:hover::before {
  content: "Svelte";
  bottom: -30px;
}
.django:hover::before {
  content: "Django";
  bottom: -20px;
}
.jquery:hover::before {
  content: "jQeury";
  bottom: -30px;
}
