body {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
html {
  overflow-x: hidden;
}
body::before,
body::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 140%;
  padding-bottom: 140%;
  background-color: #f5d7d5;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 15s;
  z-index: -4;
}

body::before {
  bottom: 1550px;
  border-radius: 47%;
}

body::after {
  bottom: 1530px;
  opacity: 0.5;
  border-radius: 52%;
}

.suncloud img {
  animation: 15s ease-in-out 0s infinite alternate-reverse cloud;
}
.cloudbox:nth-child(1) img{
  animation: 20s ease-in-out -1s infinite alternate-reverse cloud;
}
.cloudbox:nth-child(2) img{
  animation: 20s ease-in-out -2s infinite alternate-reverse cloud;
}
.cloudbox:nth-child(3) img{
  animation: 20s ease-in-out -3s infinite alternate-reverse cloud;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes cloud {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(-10px, -10px);
  }
  75% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}

@media screen and (min-width: 0px) and (max-width: 1280px) {
  body::before,
  body::after {
    height: 3000px;
    width: 3000px;
    padding-bottom: 0;
    animation-duration: 20s;
  }
}
